h1 {
font-style: normal;
color: white;
}
h2 {
  color: white;
}
p {
  color: white;
}
li {
  color: white;
}
button {
width: 70px;
height: 30px;
background-color: : 10px red;
border-radius: 10px;
border-color: blue;
}
.header {
width: 100%;
height: 100px;
background-color: #4a9396;
border: 1px black;
}
.content {
  background-color: #00202e;
}
.footer {
width: 100%;
height: 280px;
background: black;
}
.left {
  width: 500px;
  height: 500px;
  background-color: #00202e;
  float: left;
  margin-right: auto;
}
.right {
  width: 1420px;
  height: 500px;
background-color: #00202e;
margin-left: auto;
}

.footer2 {
width: 100%;
height: 480px;
background: black;
}
